{% extends 'dashboard/index.html.twig' %}


{% block showElement %}
<div class="m-auto pt-5"  style="width: 90%">
    <h1>Ajouter nouvel evenement</h1>
    {{ include('event/_form.html.twig') }}
</div>
{% endblock %}
    
