{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }

    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at
            <code><a href="{{ '/home/chedi/Desktop/project/HSE/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code>
        </li>
        <li>Your template at
            <code><a href="{{ '/home/chedi/Desktop/project/HSE/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code>
        </li>
        <form action="{{path('alert')}}" method="POST">
            <button class="btn btn-primary">Ping</button>
        </form>
    </ul>


</div>
{% endblock %}


{% block javascripts %}
<script>


    document.addEventListener('DOMContentLoaded', () => {

        fetch('/discover').then(result => {

            const hubUrl = result.headers.get('Link').match(/<([^>]+)>;\s+rel=(?:mercure|"[^"]*mercure[^"]*")/)[1];
            const hub = new URL(hubUrl);
            hub.searchParams.append('topic', '/alert');

            const eventSource = new EventSource(hub);

            eventSource.onmessage = e => {
                console.log(e);
                let alertDiv = document.createElement("div")
                alertDiv.className += " alert alert-danger"
                let content = document.createTextNode("Ping !")

                alertDiv.appendChild(content)

                document.body.insertBefore(alertDiv, document.querySelector('.example-wrapper'))
                window.setTimeout(() => {
                    document.querySelector('.alert').remove()
                },2000) 
            }
        })

    })
</script>
{% endblock %}