{% block body %}
{% if item.roles is defined %}
<div class="container">
    <div class="row">
            {% for item in item.roles %}
            {% if loop.index != 1 %}
                ,
            {% endif %}
            {% if item == 'ROLE_USER' %}
                Utilisateur
            {% elseif item == 'ROLE_ADMIN' %}
                Administrateur
            {% elseif item == 'ROLE_MOD_USERS' %}
                Gestion Utilisateur
            {% elseif item == 'ROLE_MOD_PRODUCTS' %}
                Gestion Produits
            {% elseif item == 'ROLE_MOD_GROUPS' %}
                Gestion Groupes
            {% elseif item == 'ROLE_MOD' %}
                Modérateur
            {% elseif item == 'ROLE_GES_STOCK' %}
                Gestion de Stock
            {% elseif item == 'ROLE_RH' %}
                Ressource Humaine
            {% endif %}
            {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}