{% block body %}
{% if item.roles is defined %}
<div class="container">
    <div class="row">
        <ul class="mt-3">
            {% for item in item.roles %}
            <li>{{item}}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
{% endblock %}