{% extends '@EasyAdmin/default/list.html.twig' %}

{% block global_actions  %}
    {{ parent() }}
    <a href="{{ path('destock', {  menuIndex: '4', submenuIndex: '2'  }) }}" class="btn btn-primary ml-1" style="height: 35px; line-height: 21px;">Destocker</a>
{% endblock %}