{% block body %}

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Véhicule</th>
            <th scope="col">Date de début</th>
            <th scope="col">Date de fin</th>
        </tr>
    </thead>
    <tbody>
        {% for elem in item.history %}
        <tr>
            <td><a href="{{ path('easyadmin', {'entity': 'Car', 'action': 'show', 'id': elem.getCar().getId() }) }}">{{ elem.getCar() }}</a></td>
            <td>{{ elem.getBeginAt().format('d/m/Y') }}</td>
            <td>{{ elem.getEndAt().format('d/m/Y') }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
        {% endblock %}